$margen: 0.25rem;
$maximo-width: 100%;
$maximo-height: 100%;
$column-gap-vacunas:1.25rem;
$column-rule-vacunas:0.3rem double black;
$estilo-bordes:(blackborder: 1px black dotted, borderadio: 10px);
$rotacion-animacion:10deg;
$vacunas: si;

